@media (min-width: 650px) and (max-width: 1522px) {

#background_centre
{
	background-color : black;
	position : relative;
	left : 200px;
	top : -10px;
	height : 10500px;
	width : 920px;
}

#cadre_pres
{
	column-count : 2;
	border : solid;
	border-color : #6d071a;
	border-width : 10px; 
	position : relative;
	left : 50px;
	top : 50px;
	height : 300px;
	width : 750px;
}

.maphoto
{
	position : relative;
	top : 30px;
	left : 100px;
}

.titre_pres
{
	font-size : 1.3em;
	padding-right : 80px; 
	position : relative;
	top : 90px;
	display : flex;
	justify-content : center;
}

.titre_pres2
{
	font-size : 1.3em;
	padding-right : 50px; 
	position : relative;
	display : flex;
	justify-content : center;
}

#cadre_pres2
{
	border : solid;
	border-color : #6d071a;
	border-width : 10px; 
	position : relative;
	left : 120px;
	top : 50px;
	height : 370px;
	width : 610px;
	font-size : 1.3em;
	padding : 15px;
}

.colonne
{
	display : flex;
	justify-content : space-around;
	position : relative;
	top : 100px;
}

.widthPro
{
	width:400px;
}

.colonne_proj
{
	display : flex;
	justify-content : space-around;
	position : relative;
	margin-top : 50px;
}

#btn_mini_haut1
{
	display : flex;
	position : absolute;
	top : 80px;
	left : 20px;
}

#btn_mini_haut2
{
	display : flex;
	position : absolute;
	top : 250px;
	left : 20px;
}

#btn_mini_haut3
{
	display : flex;
	position : absolute;
	top : 80px;
	left : 780px;
}

#btn_mini_haut4
{
	display : flex;
	position : absolute;
	top : 250px;
	left : 780px;
}

#bordure2_hautgauche
{
	display : flex;
	position : absolute;
	top : 17px;
	left : 20px;
}

#bordure2_basgauche
{
	display : flex;
	position : absolute;
	top : 330px;
	left : 20px;
}

#bordure2_hautdroite
{
	display : flex;
	position : absolute;
	top : 17px;
	left : 775px;
}

#bordure2_basdroite
{
	display : flex;
	position : absolute;
	top : 325px;
	left : 780px;
}

#flag1
{
	display : flex;
	position : absolute;
	top : 445px;
	left : 150px;
}

#flag2
{
	display : flex;
	position : absolute;
	top : 445px;
	left : 600px;
}

#flag3
{
	display : flex;
	position : absolute;
	top : 1170px;
	left : 220px;
}

#flag4
{
	display : flex;
	position : absolute;
	top : 1170px;
	left : 750px;
}

#flag5
{
	display : flex;
	position : absolute;
	top : 2550px;
	left : 200px;
}

#flag6
{
	display : flex;
	position : absolute;
	top : 2550px;
	left : 770px;
}

#flag7
{
	display : flex;
	position : absolute;
	top : 3040px;
	left : 240px;
}

#flag8
{
	display : flex;
	position : absolute;
	top : 3040px;
	left :730px;
}

.font_spe
{
	font-size : 1em; 
}

.box_gauche
{
	border : solid;
	border-color : #6d071a;
	border-width : 10px; 
	position : relative;
	left : 50px;
	height : 300px;
	width : 650px;
	font-size : 1em;
	padding : 15px;
	text-align : center;
}

.box_droite
{
	border : solid;
	border-color : #6d071a;
	border-width : 10px; 
	position : relative;
	height : 300px;
	width : 650px;
	font-size : 1em;
	padding : 15px;
	text-align : center;
}


.titre_box
{
	font-size : 2em;
	margin-top : 10px;
}

.colonne_images
{
	width: 32%;
  	margin: 10px 0.666%;
}

.deco_gauche
{
	position : relative;
	left : 100px;
	bottom : 150px;
}

.deco_droite
{
	position : relative;
	left : 850px;
	bottom : 300px;
}

.titre
{
	font-size : 2em;
	text-align : center;
	position : relative;
	top : 80px;
}

#center
{
	position : relative;
	text-align : center;
	align-items : center;
	top : 100px;
}

#fixed
{
	position : fixed;
	text-align : center;
	color : white;
}

#fixed2
{
	position : fixed;
	text-align : center;
	color : white;
	left : 10px;
	top : 400px;
}

#fixed3
{
	position : fixed;
	text-align : center;
	color : white;
	top : 300px;
	left : 1180px;
}

#fixed4
{
	position : fixed;
	text-align : center;
	color : white;
	top:40px;
	left : 1200px;
}

#fixed5
{
	position : fixed;
	text-align : center;
	vertical-align: text-top;
	color : white;
	top:500px;
	left : 1200px;
	visibility: hidden;
}

.soustitre
{
	font-size : 1em;
	text-align : center;
	position : relative;
	top : 80px;
}

#experience_pro
{
	position : relative;
	left : 50px;
}

.titre_pro
{
	font-size: 1.2em;
}

#fixedbordure_gauche
{
	position : fixed;
	top: -10px;
	left : 100px;
}

#fixedbordure_droite
{
	position : fixed;
	top: -10px;
	right : 100px;
}
}