@font-face 
{ 
	font-family: Galgony; 
	src: url('Galgony.ttf'); 
}  

body
{
	background-color : #6d071a;
	color : white;
	font-family: Galgony;
	font-size : 1.05em;
}

a { 
	color: white; 
	font-size: 1.5em;
}

.grand_font
{
	font-size : 1.8em;
}

.spe_border
{
	border: solid;
	border-color: white;
	border-width: 3px;
	border-radius: 10px;
	padding: 10px;
}

.animateBold{
  animation: toUnderline 5s;
  -webkit-animation-fill-mode: forwards;
}

@keyframes toBold{
  40%{
    font-weight: 900;
  }
  60%{
    font-weight: 600;
  }
  80%{
    font-weight: 300;
  }
}

.animateFade{
  animation: toFade 1.5s;
  -webkit-animation-fill-mode: forwards;
}

@keyframes toFade{
  from {
    color : currentColor;
  }

  to {
    color : rgb(52, 52, 52);
  }
}

.animateUnFade{
  animation: toUnFade 1.5s;
  -webkit-animation-fill-mode: forwards;
}

@keyframes toUnFade{
  from {
    color : rgb(100, 100, 100);
  }

  to {
    color : white;
  }
}

.shake{
  -webkit-animation: toShake 0.8s both ease-in;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes toShake {
    0% {
        -webkit-transform: translateY(0px);
    }
    10% {
        -webkit-transform: translateY(10px);
    }
    20% {
        -webkit-transform: translateY(20px);
    }
    30% {
        -webkit-transform: translateY(-5px);
    }
    40% {
        -webkit-transform: translateY(15px);
    }
    50% {
        -webkit-transform: translateY(-20px);
    }
    60% {
        -webkit-transform: translateY(10px);
    }
    70% {
        -webkit-transform: translateY(-15px);
    }
    80% {
        -webkit-transform: translateY(5px);
    }
    90% {
        -webkit-transform: translateY(-5px);
    }
    100% {
        -webkit-transform: translateY(0px);
    }
}

.animateExpProOn{
  animation: toAnimateExpProOn 0.8s;
  -webkit-animation-fill-mode: forwards;
}

@keyframes toAnimateExpProOn{
  0% {
        -webkit-transform: translateY(0px);
        font-weight: 100;
    	background-color: black;
    }
    10% {
        -webkit-transform: translateY(10px);
    }
    20% {
        -webkit-transform: translateY(20px);
    }
    30% {
        -webkit-transform: translateY(-5px);
    }
    40% {
        -webkit-transform: translateY(15px);
    }
    50% {
        -webkit-transform: translateY(-20px);
    }
    60% {
        -webkit-transform: translateY(10px);
    }
    70% {
        -webkit-transform: translateY(-15px);
    }
    80% {
        -webkit-transform: translateY(5px);
    }
    90% {
        -webkit-transform: translateY(-5px);
    }
    100% {
        -webkit-transform: translateY(0px);
        font-weight: 900;
    	background-color: #6d071a;
    }
}

.animateExpProOff{
  animation: toAnimateExpProOff 1.5s;
  -webkit-animation-fill-mode: forwards;
}

@keyframes toAnimateExpProOff{
  from {
    font-weight: 900;
    background-color: #6d071a;
  }

  to {
    font-weight: 100;
    background-color: black;
  }
}

.animationAnchorOn{
  -webkit-animation: toAnimateAnchorOn 0.5s both ease-in;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes toAnimateAnchorOn {
    0% {
        -webkit-transform: translateX(0px);
        font-weight: 100;
    }
    100% {
        -webkit-transform: translateX(20px);
        font-weight: 900;
    }
}

.animationAnchorOff{
  -webkit-animation: toAnimateAnchorOff 0.5s both ease-in;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes toAnimateAnchorOff {
    0% {
        -webkit-transform: translateX(20px);
        font-weight: 900;
    }
    100% {
        -webkit-transform: translateX(0px);
        font-weight: 100;
    }
}


.animationFlagOn{
  -webkit-animation: toAnimateFlagOn 0.2s both ease-in;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes toAnimateFlagOn {
    0% {
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.2);
    }
}

.animationFlagOff{
  -webkit-animation: toAnimateFlagOff 0.2s both ease-in;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes toAnimateFlagOff {
    0% {
        -webkit-transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

.fadeTextOnStart{
  -webkit-animation: toFadeTextOnStart 1.5s both ease-in;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes toFadeTextOnStart {
    0% {
        color:black;
    }
    100% {
        color:white;
    }
}

#cadre_pres2 p, span, [class=fade_intro] {
     pointer-events: none;
}